---
import { Permission, Query, Role } from 'node-appwrite';
import AdminLayout from '../../../../layouts/AdminLayout.astro';
import { createAdminClient } from '../../../../server/appwrite';

const { users, databases } = createAdminClient();
const { user_id } = Astro.params!;

const managed_user = (await users.list([Query.equal("$id", [user_id!.toString()])])).users[0]
const sessions = (await users.listSessions(user_id!.toString()))
const db_response = await databases.listDocuments(import.meta.env.CV_DB0_ID, "user", [Query.equal("$id", [user_id!.toString()])])
var db_record = null
if (db_response.total == 1) {
    db_record = db_response.documents[0]
}

if (Astro.request.method === "POST") {
    var data = await Astro.request.formData()

    switch (data.get("type")) {
        case 'email':
            users.updateEmail(user_id!.toString(), data.get("email")!.toString());
            break;
        case 'name':
            users.updateName(user_id!.toString(), data.get("name")!.toString());
            break;
        case 'password':
            users.updatePassword(user_id!.toString(), data.get("password")!.toString());
            break;
        case 'label_delete':
            users.updateLabels(user_id!.toString(), managed_user.labels.filter(item => item !== data.get("label_name")!.toString()))
            break;
        case 'label_add':
            managed_user.labels.push(data.get("label_name")!.toString())
            users.updateLabels(user_id!.toString(), managed_user.labels)
            break;
        case 'initialisation':
            databases.createDocument(
                import.meta.env.CV_DB0_ID,
                "user",
                user_id!.toString(),
                {
                    "enabled": true
                },
                [
                    Permission.write(Role.user(user_id!.toString())),
                    Permission.read(Role.user(user_id!.toString()))
                ]
            )
            break;
        case 'verification':
            users.updateEmailVerification(user_id!.toString(), !managed_user.emailVerification);
            break;
        case 'deactivate':
            users.updateStatus(user_id!.toString(), !managed_user.status);
            break;
        case 'delete':
            databases.deleteDocument(
                import.meta.env.CV_DB0_ID,
                "user",
                user_id!.toString(),
            )
            users.delete(user_id!.toString());
            return Astro.redirect("/admin/dashboard");
        case 'session_delete':
            users.deleteSession(user_id!.toString(), data.get("session_id")!.toString())
            break;
    }
    return Astro.redirect(Astro.url.pathname)
}
---

<AdminLayout>
    <div class="flex items-center justify-center flex-col">
        <div class="w-max bg-base-300 rounded-lg shadow-md p-6">
            <div tabindex="0" role="button" class="avatar">
                <div class="w-24 rounded-full">
                    <img
                        alt="Tailwind CSS Navbar component"
                        src={"https://cloud.appwrite.io/v1/avatars/initials?name=" + managed_user.name}
                    />
                </div>
                <h2 class="text-7xl font-semibold text-white p-2">{managed_user.name} </h2>
                <span class="badge m-auto text-lg p-3">{managed_user.$id}</span>
            </div>
            <div>
                <div class="grid grid-cols-2 flex-col">
                    <!-- Email -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">
                                Email 
                                {
                                    managed_user.emailVerification ? 
                                    <span class="badge badge-success">Verified</span>
                                    :
                                    <span class="badge badge-error">Unverified</span>
                            
                                }
                            </span>
                        </div>
                        <input type="text" placeholder={managed_user.email} class="input input-bordered w-max max-w-xs" disabled />
                        <button class="btn btn-primary" onclick="email_modal.showModal()">Change</button>

                        <dialog id="email_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Email</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="email"/>
                                    <input
                                    id="email" name="email" placeholder="Email" type="email" 
                                    class="input input-bordered w-max max-w-xs"
                                    required
                                    />
                                    <button type="submit" class="btn btn-primary">
                                        Change Email
                                    </button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Name -->
                    <div>
                        <div class="label">
                            <span class="label-text">Name</span>
                        </div>

                        <input type="text" placeholder={managed_user.name} class="input input-bordered w-max max-w-xs" disabled />
                        <button class="btn btn-primary" onclick="name_modal.showModal()">Change</button>

                        <dialog id="name_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Name</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="name"/>
                                    <input
                                    id="name" name="name" placeholder="Name" type="text" 
                                    class="input input-bordered w-max max-w-xs"
                                    required
                                    />
                                    <button type="submit" class="btn btn-primary">
                                        Change Name
                                    </button>
                                </form>
                            </div>

                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Password -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">Password</span>
                        </div>
                        <button class="btn btn-primary w-full py-2 px-4" onclick="password_modal.showModal()">Change</button>

                        <dialog id="password_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Password</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="password"/>
                                    <input
                                    id="password" name="password" placeholder="Password" type="password" 
                                    class="input input-bordered w-max max-w-xs"
                                    required
                                    />
                                    <button type="submit" class="btn btn-primary">
                                        Change Password
                                    </button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Labels -->
                    <div>
                        <div class="label">
                            <span class="label-text">Labels</span>
                        </div>

                        <button class="btn btn-primary w-full py-2 px-4" onclick="label_modal.showModal()">Edit</button>

                        <dialog id="label_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Labels</h3>
                                {managed_user.labels.map((label) => (
                                    <form method="POST" class="py-1">
                                        <input type="hidden" name="type" id="type" value="label_delete"/>
                                        <input type="text" value={label} class="input input-bordered w-max max-w-xs" disabled/>
                                        <input type="hidden" name="label_name" id="label_name" value={label}/>
                                        <button type="submit" class="btn btn-primary">-</button>
                                    </form>
                                ))}
                                <div class="pt-6">
                                    <form method="POST" class="py-1">
                                        <input type="hidden" name="type" id="type" value="label_add"/>
                                        <input type="text" name="label_name" id="label_name" class="input input-bordered w-max max-w-xs"/>
                                        <button type="submit" class="btn btn-primary">+</button>
                                    </form>
                                </div>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Verification -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">Verification</span>
                        </div>

                        <button class="btn btn-primary w-full py-2 px-4 text-black rounded-md" onclick="verification_modal.showModal()">{managed_user.emailVerification ? 'Unverify' : 'Verify'} Account</button>

                        <dialog id="verification_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Verification Status</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="verification"/>
                                    <button class="btn btn-primary" type="submit">{managed_user.emailVerification ? 'Unverify' : 'Verify'} Account</button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    {
                        db_response.total == 1
                        ?
                        (
                        <div>
                            <div class="label">
                                <span class="label-text">Database</span>
                            </div>

                            <button class="btn btn-primary w-full" disabled>Account Initialised</button>
                        </div>
                        )
                        :
                        (
                        <div>
                            <div class="label">
                                <span class="label-text">Database</span>
                            </div>

                            <button class="btn btn-primary" onclick="initialisation_modal.showModal()">Initialise Account For Database</button>

                            <dialog id="initialisation_modal" class="modal">
                                <div class="modal-box">
                                    <h3 class="text-lg font-bold">Initialise Account For Database</h3>
                                    <form method="POST" class="pt-2">
                                        <input type="hidden" name="type" id="type" value="initialisation"/>
                                        <button class="btn btn-primary w-full" type="submit">Initialise Account For Database</button>
                                    </form>
                                </div>
                                <form method="dialog" class="modal-backdrop">
                                    <button>close</button>
                                </form>
                            </dialog>
                        </div>
                        )
                    }
                    <!-- Deactivate -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">Activation</span>
                        </div>

                        <button class="btn btn-error w-full" onclick="deactivate_modal.showModal()">{managed_user.status ? 'Deactivate' : 'Activate'} Account</button>

                        <dialog id="deactivate_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Activation Status</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="deactivate"/>
                                    <button class="btn btn-error w-full" type="submit">{managed_user.status ? 'Deactivate' : 'Activate'} Account</button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Delete -->
                    <div>
                        <div class="label">
                            <span class="label-text">Delete Account</span>
                        </div>

                        <button class="btn btn-error w-full " onclick="delete_modal.showModal()">Delete Account</button>

                        <dialog id="delete_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Delete Account</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="delete"/>
                                    <button class="btn btn-error w-full " type="submit">Delete Account</button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                </div>

                <div class="pt-12">
                    <a class="btn btn-block" href="/admin/dashboard">Back To Dashboard</a>
                </div>
            </div>
        </div>
        <div class="w-max bg-base-300 rounded-lg shadow-md mt-4 divide-y divide-base-100">
            <div class="p-3">
                <h2 class="text-2xl font-semibold text-white text-center">Sessions</h2>
            </div>
            <div class="overflow-x-auto">
                <table class="table">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th></th>
                      <th>Expiry</th>
                      <th>Provider</th>
                      <th>IP</th>
                      <th>Device</th>
                      <th>Location</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {sessions.sessions.map((session) => (
                        <tr>
                            <th>{session.$id}</th>
                            <td>{session.expire}</td>
                            <td>{session.provider}</td>
                            <td>{session.ip}</td>
                            <td>{session.osCode}/{session.osName}</td>
                            <td>{session.countryName}</td>
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="type" id="type" value="session_delete"/>
                                    <input type="hidden" name="session_id" id="session_id" value={session.$id}/>
                                    <button class="btn btn-error w-full " type="submit">-</button>
                                </form>
                            </td>
                        </tr>
                    ))}
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</AdminLayout>
