---
import { ID, Permission, Query, Role } from 'node-appwrite';
import AuthLayout from '../layouts/AuthLayout.astro';
import { date } from 'astro:schema';

const { user, databases } = Astro.locals;

const skills = (await databases.listDocuments(import.meta.env.CV_DB0_ID, "skills", [Query.equal("uid", [user.$id])])).documents
const contact_details = (await databases.listDocuments(import.meta.env.CV_DB0_ID, "contact-details", [Query.equal("uid", [user.$id])])).documents
const education = (await databases.listDocuments(import.meta.env.CV_DB0_ID, "education", [Query.equal("uid", [user.$id])])).documents

if (Astro.request.method == "POST") {
  const data = await Astro.request.formData()
  console.log(data)

  switch (data.get("type")) {
    case "education_add":
      await databases.createDocument(
        import.meta.env.CV_DB0_ID, 
        "education",
        ID.unique(),
        {
          "uid": user.$id,
          "name": data.get("education_name"), 
          "description": data.get("education_description"), 
          "start_year": Number(data.get("education_start_year")), 
          "end_year": (data.get("education_present") == "on" ? null : Number(data.get("education_end_year"))), 
          "present": data.get("education_present") == "on"
        },
        [Permission.write(Role.user(user.$id)), Permission.read(Role.user(user.$id))]
      )
      break;
    case "education_edit":
      await databases.updateDocument(
        import.meta.env.CV_DB0_ID, 
        "education", 
        data.get("education_id"),
        {
          "name": data.get("education_name"), 
          "description": data.get("education_description"), 
          "start_year": Number(data.get("education_start_year")), 
          "end_year": (data.get("education_present") == "on" ? null : Number(data.get("education_end_year"))), 
          "present": data.get("education_present") == "on"
        }
      )
      break;
    case "education_delete":
      await databases.deleteDocument(import.meta.env.CV_DB0_ID, "education", data.get("education_id"))
      break;
    case "contact_add":
      await databases.createDocument(
        import.meta.env.CV_DB0_ID, 
        "contact-details",
        ID.unique(),
        {"type": data.get("contact_type"), "value": data.get("value"), "uid": user.$id},
        [Permission.write(Role.user(user.$id)), Permission.read(Role.user(user.$id))]
      )
      break;
    case "contact_edit":
      await databases.updateDocument(
        import.meta.env.CV_DB0_ID, 
        "contact-details", 
        data.get("contact_id"),
        {"value": data.get("value")}
      )
      break;
    case "contact_delete":
      await databases.deleteDocument(import.meta.env.CV_DB0_ID, "contact-details", data.get("contact_id"))
      break;
    case "skill_add":
      await databases.createDocument(
        import.meta.env.CV_DB0_ID, 
        "skills",
        ID.unique(),
        {"skill": data.get("skill"), "uid": user.$id},
        [Permission.write(Role.user(user.$id)), Permission.read(Role.user(user.$id))]
      )
      break;
    case "skill_edit":
      await databases.updateDocument(
        import.meta.env.CV_DB0_ID, 
        "skills", 
        data.get("skill_id"),
        {"skill": data.get("skill")}
      )
      break;
    case "skill_delete":
      await databases.deleteDocument(import.meta.env.CV_DB0_ID, "skills", data.get("skill_id"))
      break;
  }
  return Astro.redirect("/dashboard")
}
---

<AuthLayout>
  <div class="flex items-center justify-center flex-col">
    <div class="w-3/4">
      <div>
        <!-- Pages -->
        <div class="bg-base-300 rounded-lg shadow-md p-4">
          <h1 class="text-xl font-bold text-center">Pages <button class="btn btn-primary btn-circle btn-sm">+</button></h1>
          Not Implemented
        </div>
      </div>
      <div>
        <div class="grid grid-cols-2 flex-col pt-3">
          <!-- Education -->
          <div class="pr-3">
            <div class="h-full w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
              <h1 class="text-xl font-bold text-center">Education <button onclick="education_add.showModal()" class="btn btn-primary btn-circle btn-sm">+</button></h1>

              <dialog id="education_add" class="modal">
                <div class="modal-box w-max">
                  <h3 class="text-lg font-bold mb-1">Add education history.</h3>
                  
                  <form method="POST">
                    <label class="form-control w-full max-w-xs">
                      <div class="label">
                        <span class="label-text">Name</span>
                      </div>
                      <input type="text" name="education_name" class="input input-bordered" />
                    </label>

                    <label class="form-control w-full max-w-xs">
                      <div class="label">
                        <span class="label-text">Description</span>
                      </div>
                      <input type="text" name="education_description" class="input input-bordered" />
                    </label>

                    <label class="form-control w-full max-w-xs">
                      <div class="label">
                        <span class="label-text">Start Year</span>
                      </div>
                      <input type="number" min="1900" max={new Date().getFullYear()} name="education_start_year" class="input input-bordered" />
                    </label>

                    <label class="form-control w-full">
                      <div class="label">
                        <span class="label-text">End Year</span>
                      </div>
                      <div class="flex ">
                        <input type="number" min="1900" max={new Date().getFullYear()} name="education_end_year" id="education_end_year" class="w-full input input-bordered" value={education.end_year} />
                        <div class="tooltip" data-tip="Present">
                          <input type="checkbox" class="checkbox h-[3rem] w-[3rem]  ml-1" name="education_present" id="education_present" />
                        </div>
                      </div>
                    </label>

                    <input type="hidden" name="type" id="type" value="education_add"/>
                    <button type="submit" class="btn btn-primary w-full mt-2">Add</button>
                  </form>
                </div>
                <form method="dialog" class="modal-backdrop">
                  <button>close</button>
                </form>
              </dialog>
              
              <div class=" w-full bg-base-200 rounded-lg shadow-md p-1 mt-2">
                <div class="overflow-x-auto">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {education.map((education: {$id: string; end_year: number; name: string; description: string; start_year: number; present: any; }) => (
                        <tr>
                          <th>{education.name}</th>
                          <td>{education.description}</td>
                          <td>{education.start_year}</td>
                          <td>{education.present ? "PRESENT" : education.end_year}</td>
                          <td class="flex justify-end">
                            <button onclick={"education_edit_" + education.$id + ".showModal()"} class="btn btn-primary mr-2">Edit</button>

                            <form method="POST">
                              <input type="hidden" name="education_id" value={education.$id}/>
                              <input type="hidden" name="type" id="type" value="education_delete"/>
                              <button type="submit" class="btn btn-error">-</button>
                            </form>
                          </td>
                        </tr>
                      ))}
                    </tbody>
                  </table>
                  {education.map((education: { end_year: number; name: string; description: string; start_year: number; present: any; $id: string; }) => (
                    <dialog id={"education_edit_" + education.$id} class="modal">
                      <div class="modal-box w-max">
                        <h3 class="text-lg font-bold mb-1">Edit an education record.</h3>
                        
                        <form method="POST">
                          <label class="form-control w-full max-w-xs">
                            <div class="label">
                              <span class="label-text">Name</span>
                            </div>
                            <input type="text" name="education_name" class="input input-bordered" value={education.name} />
                          </label>

                          <label class="form-control w-full max-w-xs">
                            <div class="label">
                              <span class="label-text">Description</span>
                            </div>
                            <input type="text" name="education_description" class="input input-bordered" value={education.description} />
                          </label>

                          <label class="form-control w-full max-w-xs">
                            <div class="label">
                              <span class="label-text">Start Year</span>
                            </div>
                            <input type="number" min="1900" max={new Date().getFullYear()} name="education_start_year" class="input input-bordered" value={education.start_year} />
                          </label>

                          <label class="form-control w-full">
                            <div class="label">
                              <span class="label-text">End Year</span>
                            </div>
                            <div class="flex ">
                              <input type="number" min="1900" max={new Date().getFullYear()} name="education_end_year" id="education_end_year" class="w-full input input-bordered" value={education.end_year} />
                              <div class="tooltip" data-tip="Present">
                                <input type="checkbox" class="checkbox h-[3rem] w-[3rem]  ml-1" name="education_present" id="education_present" checked={education.present} />
                              </div>
                            </div>
                          </label>

                          <input type="hidden" name="type" id="type" value="education_edit"/>
                          <input type="hidden" name="education_id" value={education.$id}/>
                          <button type="submit" class="btn btn-primary w-full mt-2">Save</button>
                        </form>
                      </div>
                      <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                      </form>
                    </dialog>
                  ))}
                </div>
              </div>
            </div>
          </div>
          <!-- Work Experience -->
          <div class="pl-3">
            <div class="h-full w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
              <h1 class="text-xl font-bold text-center">Work Experience <button class="btn btn-primary btn-circle btn-sm">+</button></h1>
              Not Implemented
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 flex-col">
          <!-- Contact Details -->
          <div class="pr-3 pt-3">
            <div class="w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
              <h1 class="text-xl font-bold text-center">Contact Details <button onclick="contact_detail_add.showModal()" class="btn btn-primary btn-circle btn-sm">+</button></h1>

              <dialog id="contact_detail_add" class="modal">
                <div class="modal-box w-max">
                  <script>
                    document.getElementById("contact_type") && document.getElementById("contact_type")?.addEventListener("change", updateValueBox)
                    function updateValueBox() {
                      var selectMenu = (document.getElementById("contact_type")! as HTMLSelectElement);
                      var valueBox = (document.getElementById("contact_detail_add_value")! as HTMLInputElement);
                      switch (selectMenu.value) {
                        case 'email':
                          valueBox.disabled = false
                          valueBox.placeholder = "example@example.com"
                          valueBox.type = "email"
                          break;
                        case 'number':
                          valueBox.disabled = false
                          valueBox.placeholder = "07123456789"
                          valueBox.pattern = "0[789][0-9]{9}"
                          valueBox.type = "text"
                          break;
                      }
                    }
                  </script>
                  <h3 class="text-lg font-bold mb-1">Add a contact detail.</h3>
                  
                  <form method="POST" id="contact_detail_add_form">
                    <select class="select select-bordered w-full" name="contact_type" id="contact_type" form="contact_detail_add_form">
                      <option disabled selected>Select a type</option>
                      <option value="email">Email</option>
                      <option value="number">Phone Number</option>
                    </select>
                    <input type="text" class="input input-bordered w-full mt-2" name="value" id="contact_detail_add_value" disabled/>
                    <input type="hidden" name="type" id="type" value="contact_add"/>
                    <button type="submit" class="btn btn-primary w-full mt-2">Add</button>
                  </form>
                </div>
                <form method="dialog" class="modal-backdrop">
                  <button>close</button>
                </form>
              </dialog>

              <div class="h-full w-full bg-base-200 rounded-lg shadow-md p-1 mt-2">
                <div class="overflow-x-auto">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Value</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {contact_details.map((contact: { type: unknown; value: unknown; $id: string; }) => (
                        <tr>
                          <th>{contact.type}</th>
                          <td>{contact.value}</td>
                          <td class="flex justify-end">
                            <button onclick={"contact_detail_edit_" + contact.$id + ".showModal()"} class="btn btn-primary mr-2">Edit</button>

                            <form method="POST">
                              <input type="hidden" name="contact_id" value={contact.$id}/>
                              <input type="hidden" name="type" id="type" value="contact_delete"/>
                              <button type="submit" class="btn btn-error">-</button>
                            </form>
                          </td>
                        </tr>
                      ))}
                    </tbody>
                  </table>
                  {contact_details.map((contact: { type: unknown; value: string; $id: string; }) => (
                    <dialog id={"contact_detail_edit_" + contact.$id} class="modal">
                      <div class="modal-box w-max">
                        <h3 class="text-lg font-bold mb-1">Edit a contact detail.</h3>
                        
                        <form method="POST">
                          <input type={contact.type == "email" ? "email" : "text"} class="input input-bordered w-full" value={contact.value} name="value" pattern={contact.type == "number" ? "0[789][0-9]{9}" : null}/>
                          <input type="hidden" name="type" id="type" value="contact_edit"/>
                          <input type="hidden" name="contact_id" value={contact.$id}/>
                          <button type="submit" class="btn btn-primary w-full mt-2">Save</button>
                        </form>
                      </div>
                      <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                      </form>
                    </dialog>
                  ))}
                </div>
              </div>
            </div>
          </div>
          <!-- References -->
          <div class="pt-3 pl-3">
            <div class="h-full w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
              <h1 class="text-xl font-bold text-center">References <button class="btn btn-primary btn-circle btn-sm">+</button></h1>
              Not Implemented
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 flex-col">
          <!-- Skills -->
          <div class="pr-3 pt-3">
            <div class="h-full w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
              <h1 class="text-xl font-bold text-center">Skills <button onclick="skill_add_modal.showModal()" class="btn btn-primary btn-circle btn-sm">+</button></h1>
              <dialog id="skill_add_modal" class="modal">
                <div class="modal-box w-max">
                  <h3 class="text-lg font-bold mb-1">Add a skill.</h3>
                  
                  <form method="POST">
                    <input type="text" class="input input-bordered w-full" name="skill"/>
                    <input type="hidden" name="type" id="type" value="skill_add"/>
                    <button type="submit" class="btn btn-primary w-full mt-2">Add</button>
                  </form>
                </div>
                <form method="dialog" class="modal-backdrop">
                  <button>close</button>
                </form>
              </dialog>

              <div class="flex items-center justify-center flex-col overflow-auto">
                {skills.map((skill: { skill: string; $id: string; }) => (
                  <div class="pt-2 flex flex-row">
                    <input type="text" class="input input-bordered w-max max-w-xs mr-2" disabled value={skill.skill}/>
                    <button class="btn btn-primary mr-2" onclick={"skill_" + skill.$id + "_edit_modal.showModal()"}>Edit</button>

                    <dialog id={"skill_" + skill.$id + "_edit_modal"} class="modal">
                      <div class="modal-box w-max">
                        <h3 class="text-lg font-bold mb-2">Edit a skill.</h3>
                        
                        <form method="POST">
                          <input type="text" class="input input-bordered w-full max-w-xs mr-1" value={skill.skill} name="skill"/>
                          <input type="hidden" name="type" id="type" value="skill_edit"/>
                          <input type="hidden" name="skill_id" value={skill.$id}/>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                      </div>
                      <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                      </form>
                    </dialog>

                    <form method="POST">
                      <input type="hidden" name="type" id="type" value="skill_delete"/>
                      <input type="hidden" name="skill_id" value={skill.$id}/>
                      <button type="submit" class="btn btn-error">-</button>
                    </form>
                  </div>
                ))}
              </div>
            </div>
          </div>
          <!-- Images -->
          <div class="pt-3 pl-3">
            <div class="h-full w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
              <h1 class="text-xl font-bold text-center">Images <button class="btn btn-primary btn-circle btn-sm" disabled>+</button></h1>
              <div class="flex items-center justify-center">
                <p class="italic">Images are not currently supported</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</AuthLayout>
