---
import { AppwriteException, Query } from 'node-appwrite';
import AuthLayout from '../../layouts/AuthLayout.astro';
import { createAdminClient, SESSION_COOKIE } from '../../server/appwrite';import { redirectToDefaultLocale } from 'astro:i18n';
;

const { user, account, databases } = Astro.locals;
if (!user) {
    return Astro.redirect("/account/signin");
}

var errors = ""
if (Astro.request.method === "POST") {
    var data = await Astro.request.formData()

    try {
        switch (data.get("type")) {
            case 'email':
                account.updateEmail(data.get("email")!.toString(), data.get("password")!.toString());
                break;
            case 'name':
                account.updateName(data.get("name")!.toString());
                break;
            case 'password':
                account.updatePassword(data.get("password")!.toString(), data.get("old-password")!.toString());
                break;
            case 'delete':
                const { users } = createAdminClient()
                databases.deleteDocument(
                    import.meta.env.CV_DB0_ID,
                    "user",
                    user.$id,
                )
                users.delete(user.$id)
                Astro.cookies.delete(SESSION_COOKIE);
                return Astro.redirect("/");
        }
        return Astro.redirect("/account")
    } catch (error) {
        if (error instanceof AppwriteException) {
            console.log(error)
            switch (error.type) {
                case "user_invalid_credentials":
                    errors = "Invalid credentials. Please check the email and password.";
                    break;
                case "user_blocked":
                    errors = "Your account has been deactivated by an Administrator.";
                    break;
                case "general_argument_invalid":
                    errors = error.message;
                    break;
            }
        } else {
            console.error(error);
        }
    }
}
---

<AuthLayout>
    <div class="flex items-center justify-center">
        <div class="w-max max-w-4xl bg-base-300 rounded-lg shadow-md p-6">
            <div tabindex="0" role="button" class="avatar">
                <div class="w-24 rounded-full">
                    <img
                        alt="Tailwind CSS Navbar component"
                        src={"https://cloud.appwrite.io/v1/avatars/initials?name=" + user.name}
                    />
                </div>
                <h2 class="text-7xl font-semibold text-white p-2">{user.name} </h2>
                <span class="badge m-auto text-lg p-3">{user.$id}</span>
            </div>
            <div>
                <div class="grid grid-cols-2 flex-col">
                    <!-- Email -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">
                                Email 
                                {
                                    user.emailVerification ? 
                                    <span class="badge badge-success">Verified</span>
                                    :
                                    <a href="/account/verification">
                                        <div class="tooltip" data-tip="Verify your email.">
                                            <span class="badge badge-error">Unverified</span>
                                        </div>
                                    </a>
                                }
                            </span>
                        </div>
                        <input type="text" placeholder={user.email} class="input input-bordered w-max max-w-xs" disabled />
                        <button class="btn btn-primary" onclick="email_modal.showModal()">Change</button>

                        <dialog id="email_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Change your email</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="email"/>
                                    <input
                                    id="email" name="email" placeholder="Email" type="email" 
                                    class="input input-bordered w-max max-w-xs"
                                    required
                                    />
                                    <div class="pt-1"><input
                                        id="password" name="password" placeholder="Password" type="password" 
                                        class="input input-bordered w-max max-w-xs"
                                        required
                                        /></div>
                                    <button type="submit" class="btn btn-primary">
                                        Change Email
                                    </button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Name -->
                    <div>
                        <div class="label">
                            <span class="label-text">Name</span>
                        </div>

                        <input type="text" placeholder={user.name} class="input input-bordered w-max max-w-xs" disabled />
                        <button class="btn btn-primary" onclick="name_modal.showModal()">Change</button>

                        <dialog id="name_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Change your Name</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="name"/>
                                    <input
                                    id="name" name="name" placeholder="Name" type="text" 
                                    class="input input-bordered w-max max-w-xs"
                                    required
                                    />
                                    <button type="submit" class="btn btn-primary">
                                        Change Name
                                    </button>
                                </form>
                            </div>

                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Password -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">Password</span>
                        </div>
                        <button class="btn btn-primary w-full py-2 px-4" onclick="password_modal.showModal()">Change</button>

                        <dialog id="password_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Change your Password</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="password"/>
                                    <div class="pb-1"><input
                                    id="old-password" name="old-password" placeholder="Old Password" type="password" 
                                    class="input input-bordered w-full"
                                    required
                                    /></div>
                                    <input
                                    id="password" name="password" placeholder="New Password" type="password" 
                                    class="input input-bordered w-full mb-2"
                                    required
                                    />
                                    <button type="submit" class="btn btn-primary w-full">
                                        Change Password
                                    </button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Delete -->
                    <div>
                        <div class="label">
                            <span class="label-text">Delete</span>
                        </div>

                        <button class="btn btn-error w-full" onclick="delete_modal.showModal()">Delete Account</button>

                        <dialog id="delete_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Delete Account</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="delete"/>
                                    <button class="btn btn-error w-full" type="submit">Delete Account</button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                </div>

                {errors && <p class="pt-2 px-4 text-red-600 text-center">{errors}</p>}
            </div>
        </div>
    </div>
</AuthLayout>
